# Set
- Sets are used to store multiple items in a single variable.

- A set is a collection which is unordered, unchangeable*, and unindexed.

- Set items are unchangeable, but you can remove items and add new items

# Properties
## Set Items
- Set items are unordered, unchangeable, and do not allow duplicate values.

## Unordered
- Unordered means that the items in a set do not have a defined order.

- Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

## Unchangeable
- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

# 1. Python Sets

## a. Create empty set

In [1]:
#Method-1
set1 = {}
print(set1)
print(type(set()))

{}
<class 'set'>

In [2]:
#Method-2
set1 = set()
print(set1)
print(type(set()))

set()
<class 'set'>

## b. Duplicates Not Allowed
- Sets cannot have two items with the same value.

In [3]:
set1 = {"apple", "banana", "cherry", "apple"} # duplicate elements in the set
print("All the duplicate elements are removed : ",set1)

All the duplicate elements are removed :  {'apple', 'banana', 'cherry'}

## c. Get the Length of a Set
- To determine how many items a set has, use the len() method

In [4]:
set1 = {"apple", "banana", "cherry", "papaya"}

print("Number of elements in the set : ",len(set1))

Number of elements in the set :  4

## d. Set- Data Types

In [5]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print("String Sets : ",set1)
print("Numerical Sets : ",set2)
print("Boolean Sets : ",set3)

String Sets :  {'apple', 'banana', 'cherry'}
Numerical Sets :  {1, 3, 5, 7, 9}
Boolean Sets :  {False, True}

In [6]:
#combined sets
set1 = {"abc", 34, True, 40, "male"}
print("Combined Sets : ",set1)

Combined Sets :  {True, 34, 40, 'abc', 'male'}

# 2. Access Set Items

## a. Access Items
- You cannot access items in a set by referring to an index or a key.

- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [7]:
set1 = {"apple", "banana", "cherry", "papaya"}
for x in set1:
    print(x)

apple
banana
papaya
cherry

In [8]:
#Check if "cherry" is present in the set:
set1 = {"apple", "banana", "cherry", "papaya"}
print("cherry" in set1)

True

## b. Change Items
- Once a set is created, you cannot change its items, but you can add new items.

In [9]:
set1[1] = "watermelon" #error

TypeError: 'set' object does not support item assignment

# 3. Add Set Items

## a. Add Items
- Once a set is created, you cannot change its items, but you can add new items.

In [10]:
set1 = {"apple", "banana", "cherry", "papaya"}
set1.add("orange")
print(set1)

{'orange', 'papaya', 'cherry', 'apple', 'banana'}

## b. Add Sets
- To add items from another set into the current set, use the update() method.

In [11]:
set1 = {"apple", "banana", "cherry"}
set2 = {"pineapple", "mango", "papaya"}
print("Elements in set-1 : ",set1)
print("Elements in set-2 : ",set2)
set1.update(set2) #update set-1 and add set-2 elements in set-1
print("Updated elements in set-1 : ",set1)

Elements in set-1 :  {'apple', 'banana', 'cherry'}
Elements in set-2 :  {'papaya', 'mango', 'pineapple'}
Updated elements in set-1 :  {'apple', 'banana', 'mango', 'papaya', 'cherry', 'pineapple'}

## c. Add Any Iterable
- The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [12]:
#Add elements of a list to at set:

set1 = {"apple", "banana", "cherry"}
list1 = ["kiwi", "orange"]
print("Elements in set-1 : ",set1)
print("Elements in list-1 : ",list1)
set1.update(list1) #update set-1 and add list-1 elements in set-1
print("Updated elements in set-1 : ",set1)

Elements in set-1 :  {'apple', 'banana', 'cherry'}
Elements in list-1 :  ['kiwi', 'orange']
Updated elements in set-1 :  {'orange', 'cherry', 'kiwi', 'apple', 'banana'}

# 4. Remove Set Items

## a. Remove Function
- To remove an item in a set, use the remove(), or the discard() method

In [13]:
set1 = {"apple", "banana", "cherry", "papaya"}
print("Original set : ",set1)
set1.remove("cherry") #removing an item from set
print("Updated set after using remove function : ",set1)

Original set :  {'apple', 'banana', 'papaya', 'cherry'}
Updated set after using remove function :  {'apple', 'banana', 'papaya'}

## b. Discard Function

In [14]:
set1 = {"apple", "banana", "cherry", "papaya"}
print("Original set : ",set1)
set1.discard("cherry") #discarding an item from set
print("Updated set after using remove function : ",set1)

Original set :  {'apple', 'banana', 'papaya', 'cherry'}
Updated set after using remove function :  {'apple', 'banana', 'papaya'}

<b> If the item to remove does not exist, discard() will NOT raise an error, where as remove will raise an error.

In [15]:
set1.remove("parmeet") #element doesnot exist and it will raise an error

KeyError: 'parmeet'

In [16]:
set1.discard("parmeet") #element doesnot exist and it will not raise an error

<b> You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

## c. Pop Function

In [17]:
set1 = {"apple", "banana", "cherry", "papaya"}
print("Original set ",set1)
popped_item = set1.pop() #popping/removing item
print("Popped item : ",popped_item)
print("Updated set ",set1)

Original set  {'apple', 'banana', 'papaya', 'cherry'}
Popped item :  apple
Updated set  {'banana', 'papaya', 'cherry'}

## d. Clear Function

In [18]:
set1 = {"apple", "banana", "cherry", "papaya"}
print("Original Set : ",set1)
set1.clear() #clear the elements in the set
print("Updated Set : ",set1)

Original Set :  {'apple', 'banana', 'papaya', 'cherry'}
Updated Set :  set()

## e. del keyword

In [19]:
#The del keyword will delete the set completely:
set1 = {"apple", "banana", "cherry"}
print("Original Set : ",set1)
del set1 #deleted set
print(set1) #nthis wll give error as set1 dosnot exist

Original Set :  {'apple', 'banana', 'cherry'}

NameError: name 'set1' is not defined

# 5. Join Sets

## a. Join Two Sets

- You can use the union() method that returns a new set containing all items from both sets, 
- You can also use the update() method that inserts all the items from one set into another

In [20]:
#The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c", "d"}
set2 = {1, 2, 3, 4}
print("set1 : ",set1)
print("set2 : ",set2)
set3 = set1.union(set2) #assigning it to new set
print("New set after union of set1 and set2 : ", set3)

set1 :  {'c', 'a', 'd', 'b'}
set2 :  {1, 2, 3, 4}
New set after union of set1 and set2 :  {1, 2, 3, 4, 'b', 'c', 'a', 'd'}

In [21]:
#The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c", "d"}
set2 = {1, 2, 3, 4}
print("set1 : ",set1)
print("set2 : ",set2)
set1.update(set2) #it will update the set-1 
print("New set after updating set1 : ", set1)

set1 :  {'c', 'a', 'd', 'b'}
set2 :  {1, 2, 3, 4}
New set after updating set1 :  {1, 2, 3, 4, 'b', 'c', 'a', 'd'}

<b> Both union() and update() will exclude any duplicate items.

## b Keep ONLY the Duplicates
- The intersection_update() method will keep only the items that are present in both sets

In [22]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y) #no assignment as it updates x with common element

print(x)

{'apple'}

- The intersection() method will return a new set, that only contains the items that are present in both sets.

In [23]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y) #assigned to new variable

print(z)

{'apple'}

## c. Keep All, But NOT the Duplicates
- The symmetric_difference_update() method will keep only the elements that are NOT present in both sets.

In [24]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y) #no assignment as it updates x - Keep the items that are not present in both sets

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

- The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.

In [25]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y) #assigned to new variable - Return a set that contains all items from both sets, except items that are present in both

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

# 6. Set Methods

## a. isdisjoint()	
- Returns whether two sets have a intersection or not

In [26]:
# Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry", "papaya"}
y = {"google", "microsoft", "facebook", "whatsapp"}

z = x.isdisjoint(y) #x and y sets doesnot have any elements in common
print(z)

True

In [27]:
# Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry", "whatsapp"}
y = {"google", "microsoft", "facebook", "whatsapp"}

z = x.isdisjoint(y) #x and y sets have one element in common
print(z)

False

## b. issubset()	
- Returns whether another set contains this set or not

In [28]:
x = {"a", "b", "c", "x"}
y = {"f", "e", "d", "c", "b", "z"}

z = x.issubset(y)

print(z)

False

In [29]:
x = {"a", "b"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

## c. issuperset()	
- Returns whether this set contains another set or not

In [30]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)
print(z)

False

In [31]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a","b"}

z = x.issuperset(y)

print(z)

True