# Tuple
- Tuples are used to store multiple items in a single variable.

- Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

- A tuple is a collection which is ordered and immutable(unchangeable).

- Tuples are written with round brackets.

# Properties :- 
## Tuple Items
- Tuple items are ordered, unchangeable, and allow duplicate values.

- Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

## Ordered
- When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

## Unchangeable
- Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

## Allow Duplicates
- Since tuples are indexed, they can have items with the same value

# 1. Python Tuples

## a. Creating empty tuple

In [1]:
#Method-1
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [2]:
#Method-2
tuple1 = tuple()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

## b. Creating tuple with elements

In [3]:
tuple1 = ("apple", "banana", "cherry")
print(tuple1)

('apple', 'banana', 'cherry')

## c. Allow Duplicates

In [4]:
tuple1 = ("apple", "banana", "cherry", "apple", "cherry")
print(tuple1)

('apple', 'banana', 'cherry', 'apple', 'cherry')

## d. Tuple Length
- To determine how many items a tuple has, use the len() function:

In [5]:
#Print the number of items in the tuple
tuple1 = ("apple", "banana", "cherry", "apple", "cherry")
print("Number of items in tuple1 is : ", len(tuple1))

Number of items in tuple1 is :  5

## e. Create Tuple With One Item
- To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.

In [6]:
#correct way of creating tuple wiht one element
tuple1 = ("apple",) #creating with comma(,)
print(tuple1)
print(type(tuple1))

('apple',)
<class 'tuple'>

In [7]:
#Incorrect way - This will generate the string
tuple1 = ("apple") #creating without comma -> it will be treated as string
print(tuple1)
print(type(tuple1))

apple
<class 'str'>

## f. Tuple Items - Data Types
- Tuple items can be of any data type:

In [8]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)
print(tuple1,"\n",tuple2,"\n",tuple3,"\n")

('apple', 'banana', 'cherry')
 (1, 5, 7, 9, 3)
 (True, False, False)

In [9]:
#A tuple with strings, integers and boolean values
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

# 2. Access Tuple Items

## a. Access Tuple Items
- You can access tuple items by referring to the index number, inside square brackets

In [10]:
#print the third item in the tuple
tuple1 = ("apple", "banana", "cherry", "papaya")
print(tuple1[2])

cherry

## b. Negative Indexing
- Negative indexing means start from the end.

In [11]:
#print the last item in the tuple
tuple1 = ("apple", "banana", "cherry", "papaya")
print(tuple1[-1])

papaya

## c. Range of Indexes
- You can specify a range of indexes by specifying where to start and where to end the range.

- When specifying a range, the return value will be a new tuple with the specified items.

In [12]:
# Return the third, fourth, and fifth item
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[2:5])

('cherry', 'orange', 'kiwi')

In [13]:
#starting default by 0th idenx
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[:4]) #4th index is not included tuple(start:stop:skip)

('apple', 'banana', 'cherry', 'orange')

In [14]:
#starting with a certain index and going till end
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

## d. Range of Negative Indexes
- Specify negative indexes if you want to start the search from the end of the tuple

In [15]:
tuple1 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple1[-4:-1])

('orange', 'kiwi', 'melon')

## e. Check if Item Exists
- To determine if a specified item is present in a tuple use the in keyword:

In [16]:
tuple1 = ("apple", "banana", "cherry")
if "apple" in tuple1:
    print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

# 3. Update Tuples
- Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

## a. Change Tuple Values
- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [17]:
x = ("apple", "banana", "cherry")

x[1] = "kiwi" #Error as tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
#Convert the tuple into a list to be able to change it:

x = ("apple", "banana", "cherry")
print("Tuple : ",x)
y = list(x)
print("Tuple changed to list : ",y)
y[1] = "kiwi"
print("List updated with the new element : ",y)
x = tuple(y)
print("Updated List converted to tuple back :",x)

## b Add Items
- Since tuples are immutable, they do not have a build-in append() method, but there are other ways to add items to a tuple.

### i.Convert into a list 
- Just like the workaround for changing a tuple, you can convert it into a list, add your item(s), and convert it back into a tuple

In [18]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple:

tupl1 = ("apple", "banana", "cherry")
print("Tuple created : ",tuple1)
y = list(tupl1)
print("Converted the tuple to list : ",y)
y.append("orange")
print("Appended the new element to the list : ",y)
tupl1 = tuple(y)
print("Converted List back to tuple : ",tupl1)

Tuple created :  ('apple', 'banana', 'cherry')
Converted the tuple to list :  ['apple', 'banana', 'cherry']
Appended the new element to the list :  ['apple', 'banana', 'cherry', 'orange']
Converted List back to tuple :  ('apple', 'banana', 'cherry', 'orange')

### ii.Add tuple to a tuple. 
- You are allowed to add tuples to tuples, so if you want to add one item, (or many), create a new tuple with the item(s), and add it to the existing tuple

In [19]:
tuple1 = ("apple", "banana", "cherry")
tuple2 = ("orange",)
print("Tuple-1 : ",tuple1)
print("Tuple-2 : ",tuple2)
tuple1 += tuple2
print("Added tuple-1 and tuple-2 : ",tuple1)

Tuple-1 :  ('apple', 'banana', 'cherry')
Tuple-2 :  ('orange',)
Added tuple-1 and tuple-2 :  ('apple', 'banana', 'cherry', 'orange')

## c. Remove Items
- You cannot remove items in tuple

In [20]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:

tuple1 = ("apple", "banana", "cherry")
print("Tuple Created : ",tuple)
y = list(tuple1)
print("Tuple converted to the list : ",y)
y.remove("apple")
print("Removed the element from the list : ",y)
tuple1 = tuple(y)
print("Converted list back to tuple : ",tuple1)

Tuple Created :  <class 'tuple'>
Tuple converted to the list :  ['apple', 'banana', 'cherry']
Removed the element from the list :  ['banana', 'cherry']
Converted list back to tuple :  ('banana', 'cherry')

## d. del Keyword
- The del keyword can delete the tuple completely

In [21]:
tuple1 = ("apple", "banana", "cherry")
del tuple1
print(tuple1) #this will raise an error because the tuple no longer exists

NameError: name 'tuple1' is not defined

# 4. Unpack Tuples
- When we create a tuple, we normally assign values to it. This is called "packing" a tuple

## a. Unpacking a Tuple

In [22]:
#Packing a tuple
fruits = ("apple", "banana", "cherry")
fruits

('apple', 'banana', 'cherry')

In [23]:
#Unpacking a tuple
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

apple
banana
cherry

## b. Using Asterisk*
- If the number of variables is less than the number of values, you can add an * to the variable name and the values will be assigned to the variable as a list:

In [24]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red) #Assign the rest of the values as a list called "red"

apple
banana
['cherry', 'strawberry', 'raspberry']

- If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left.

In [25]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic) #Add a list of values the "tropic" variable
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

# 5. Join Tuples

## a. Join Two Tuples
- To join two or more tuples you can use the + operator:

In [26]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

## b. Multiply Tuples
- If you want to multiply the content of a tuple a given number of times, you can use the * operator

In [27]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

# 6. Tuple Methods

# a. index()	
- Searches the tuple for a specified value and returns the position of where it was found

In [28]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = tuple1.index(8) #Search for the first occurrence of the value 8, and return its position
print(x)

3

## b. count()	
- Returns the number of times a specified value occurs in a tuple

In [29]:
tuple1 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5) 
x = tuple1.count(5) #Return the number of times the value 5 appears in the tuple
print(x)

2