<pre>

PYTHON BY EXAMPLE
Learning to Program in 150 Challenges


PYTHON FOR BEGINNERS
Data Analysis, Machine Learning, and Data Science Projects. 
A Crash Course in Python for Absolute Beginners
(2022 Guide)

Adds together num1 and num2 and stores the answer in a variable called answer.

1. Displays the question “Enter a text value: ” and stores the value the user enters in a variable called textValue. Print the received input value.

2. What will be the type of output variable for the following scenario

In [13]:
num1, num2 = input(),  input()
answer = num1+num2
result = "num 1: {},num2:{}\nanswer:{}"
print(type(result.format(num1, num2, answer)))

23
23
<class 'str'>

3. Get input of two numbers num1 and num2. Add and stores the answer in a variable called answer which must be an integer type. Print the input numbers in 1st line and the answer in the second line using one single print statement using format() method takes the passed arguments.

4. What will the following program print out:

In [14]:
x = 43
x = x + 1
print(x)

44

5. What is the output of the following code?

In [15]:
# num1,num2 = input(),  input()
# if num1 > 2:
#     print("Five is greater than two!")

6. What is the symbol used in an assignment statement?
+ ~
+ &
+ =
+ |

7. Create and assign values to the variables "name, language, curr_semester" in a single line.

In [16]:
name, language, curr_semester = 'anjali', 'python', 23

8. What is the output of the following code?

In [17]:
print("I am {2} learning {0} during my {1} semester.".format(curr_semester, name, language))

I am python learning 23 during my anjali semester.

9. Do the floor division by reading values from segments, segment_count.

In [18]:
segments, segment_count = 34,4
print(segments//segment_count) # Floor division means the “//“ will always take the floor or the lower number

8

10. What is the output of the following?

In [ ]:
x=d=12
(x + (d-1)) // d

11. What is the output of the following?

In [21]:
x,d=339, 12
(x + (d-1)) // d

29

12. Customizations in a markdown cell

Create a Title as "Python for ML", heading as "Practical Session 1", subheading as "basic operations in python". Now do a italic heading with "Coding done by <yourname>"

<pre>
# One shortcut to do formatting - Escape press 1. -- Title

## Keep in line 2 the cursor - create a Heading

### Subheading

13. Output of the following

In [23]:
x=34,d=9
((x - 1) // d) + 1

SyntaxError: cannot assign to literal (<ipython-input-23-8aa8b37769e1>, line 1)

The “SyntaxError: can’t assign to literal” error occurs when you try to assign a value to a literal value such as a boolean, a string, a list, or a number. To solve this error, ensure your variable names are names rather than values.

In [24]:
x=34
d=9
((x - 1) // d) + 1

4

In [25]:
x=34;d=9
((x - 1) // d) + 1

4

14. Ask the user to enter three numbers. Add together the first two numbers and then multiply this total by the third. Raise the product to power 2 and display the answer as "The answer is <answer>".

In [33]:
x = 2
y = 5

print(x ** y) #same as 2*2*2*2*2

32

15. What is the output of the following

In [ ]:
num1=input();num2=input();num3=input()
print(((int(num1)+int(num2)) * int(num3)**2)

16. What is the output of the following

In [32]:
num1=input();num2=input();num3=input()
print(((int(num1)+int(num2)) * int(num3)**2))

3
4
2
28

17. What is the output of the following

In [31]:
num1=input();num2=input();num3=input()
print(((int(num1)+int(num2)) * int(num3))**2)

3
4
2
196

18. What is the output of :

In [ ]:
x = 6
y = 2

# equal to
print(x == y) # False

# not equal to
print(x != y) # True

# greater than
print(x > y) # True

# less than
print(x < y) # False

# greater than or equal to
print(x >= y) # True

# less than or equal to
print(x <= y) # False

19. Write a program that will ask for a number of days and then will show how many hours, minutes and seconds are in that number of days.

In [34]:
days = int(input("Enter number of days :"))
hours = 24*days
minutes = hours*60
seconds = minutes*60
print("In",days,"days there are....")
print(hours, 'hours')
print(minutes, 'minutes')
print(seconds, 'seconds')

Enter number of days :3
In 3 days there are....
72 hours
4320 minutes
259200 seconds

20. What is the error in the following code?

In [37]:
larger = input("Enter larger number :")
smaller = int(input("Enter smaller number :"))
result = larger//smaller
print(smaller,'goes into '+ larger, result,'times')

Enter larger number :35
Enter smaller number :4

TypeError: unsupported operand type(s) for //: 'str' and 'int'

21. What is the error in the following code?

In [38]:
larger = int(input("Enter larger number :"))
smaller = int(input("Enter smaller number :"))
result = larger//smaller
print(smaller,'goes into '+ larger, result,'times')

Enter larger number :35
Enter smaller number :4

TypeError: can only concatenate str (not "int") to str

22. Task the user to enter a number over 100 and then enter a number under 10 and tell them how many times the smaller number goes into the larger number in a user-friendly format.

23. Ask the user to enter their first name and surname, convert to lower case and print them. Change the case to title case and join them together. Display the finished result.

In [41]:
fname = input("enter first name: ")
sname = input('enter sur name: ')
fname = fname.lower()
sname = sname.lower()
print(fname,sname)
fname = fname.title()
sname = sname.title()
name = fname + " " + sname
print(name)

enter first name: SWORNA
enter sur name: VIdhya
sworna vidhya
Sworna Vidhya

24. Ask the user to enter the capital of their state. If the length of their capital is less than seven characters, ask them to enter their state name and join them together as capital followed by state (without a space) and display the name in upper case.

In [43]:
capital = input()
if len(capital) < 7:
    state = input()
    name = (capital+state).upper()
    print(name)

bihar
PUNJAB
BIHARPUNJAB

"""25.  Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '$', except the first char itself.
Sample String : 'restart'
Expected Result : 'resta$t'""" 

Having doubt -- parmeet kindly guide me.

In [52]:
# str1 = input('Sample String : ')
# char = str1[0]
# str1 = str1.replace(char, '$')
# str1 = char + str1[1:]
# print(str1)

Sample String : SWORNAVIDHYA
SWORNAVIDHYA

<pre>
26. Write a Python program to get a single string from two given strings, separated by a space and swap the first two characters of each string. Go to the editor
Sample String : 'abc', 'xyz'
Expected Result : 'xyc abz'

In [45]:
a='abc'
b='xys'
new_a = b[:2] + a[2:]
new_b = a[:2] + b[2:]
result = new_a + ' ' + new_b
print(result)

xyc abs

27. Write a Python program to remove the nth index character from a nonempty string.

In [ ]:
string = 'Python'
m, n, o = 0,3,5
first_part = str[:x] 
last_part = str[x+1:]
print('??? What is the output for each case??')

<pre>
30. String operations:
    * How would you searches the string for a specified value? 
        * Search 'python' in the string value 'Today we will learn about Python programming for Machine learning' 
        
        txt = 'Today we will learn about Python programming for Machine learning'
        result = txt.find('python')
        print("Index of Substring 'python':", result)
        
    * How would you check if each word in a string begins with a capital letter? 
        
        print( 'The dog'.istitle() ) #=> False
        print( 'sticky rice'.istitle() ) #=> False
        
    * Check  & Find the index of the first occurrence of a substring in a string
        * Print the index of 'plane', 'car' for string 'The worlds fastest plane'
        
        ## Check
        print( 'plane' in 'The worlds fastest plane' ) #=> True
         print( 'car' in 'The worlds fastest plane' ) #=> False
         
        ## Find
        'The worlds fastest plane'.find('plane') #=> 19
        'The worlds fastest plane'.find('car') #=> -1
        
        ## index() will throw a ValueError.
        'The worlds fastest plane'.index('plane') #=> 19
        'The worlds fastest plane'.index('car') #=> ValueError: substring not found
        
    * Count the number of a specific character in a string
        * Print the count of letter o in 'The first president of the organization..'
        
        'The first president of the organization..'.count('o') #=> 3
        
    * Split a string on a specific character
        * print the split string for "welcome to the jungle" without any character
            "welcome to the jungle".split()
            
        * print the split string for "hello, my name is Peter, I am 26 years old" split with character ", "
            "hello, my name is Peter, I am 26 years old" split with character ".split(", ")
        
        
        * print the split string for "apple#banana#cherry#orange" split with character "#" with max split setting the maxsplit parameter to 1, will return a list with 2 elements!
            "apple#banana#cherry#orange".split("#", 1)