# What is Python?
Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.

It is used for:

- web development (server-side),
- software development,
- mathematics,
- system scripting.
# What can Python do?
- Python can be used on a server to create web applications.
- Python can be used alongside software to create workflows.
- Python can connect to database systems. It can also read and modify files.
- Python can be used to handle big data and perform complex mathematics.
- Python can be used for rapid prototyping, or for production-ready software development.
# Why Python?
- Python works on different platforms (Windows, Mac, Linux, Raspberry Pi, etc).
- Python has a simple syntax similar to the English language.
- Python has syntax that allows developers to write programs with fewer lines than some other programming languages.
- Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.
- Python can be treated in a procedural way, an object-oriented way or a functional way.
# Good to know
- The most recent major version of Python is Python 3, which we shall be using in this tutorial. However, Python 2, although not being updated with anything other than security updates, is still quite popular.
- In this tutorial Python will be written in a text editor. It is possible to write Python in an Integrated Development Environment, such as Thonny, Pycharm, Netbeans or Eclipse which are particularly useful when managing larger collections of Python files.
# Python Syntax compared to other programming languages
- Python was designed for readability, and has some similarities to the English language with influence from mathematics.
- Python uses new lines to complete a command, as opposed to other programming languages which often use semicolons or parentheses.
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes. Other programming languages often use curly-brackets for this purpose.

# Python Syntax

In [1]:
print("Hello, World!")

Hello, World!

# Python Indentation
Indentation refers to the spaces at the beginning of a code line.

In [2]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [3]:
#Python will give you an error if you skip the indentation:
if 5 > 2:
print("Five is greater than two!")

IndentationError: expected an indented block (<ipython-input-3-1b864e835d4a>, line 3)

# Comments
Python has commenting capability for the purpose of in-code documentation.

Comments start with a #, and Python will render the rest of the line as a comment:

- Comments can be used to explain Python code.

- Comments can be used to make the code more readable.

- Comments can be used to prevent execution when testing code.

In [ ]:
#This is a comment.
print("Hello, World!")

In [ ]:
print("Hello, World!") #This is a comment

In [ ]:
#print("Hello, World!")
print("Cheers, Mate!")

# Multi Line Comments

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

### you can add a multiline string (triple quotes) in your code, and place your comment inside it

In [ ]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

In [ ]:
'''
This is a comment
written in
more than just one line
'''
print("Hello, World!")

# Python Variables
In Python, variables are created when you assign a value to it:

### Variables
- Variables are containers for storing data values.

In [ ]:
x = 5
y = "Hello, World!"

In [ ]:
print(x)
print(y)

In [ ]:
x = 4       # x is of type int
x = "Sally" # x is now of type str
print(x)

# Casting
If you want to specify the data type of a variable, this can be done with casting

In [ ]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0

In [ ]:
print(x,y,z)

# Legal variable names:

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

# Illegal variable names:

In [4]:
2myvar = "John"
my-var = "John"
my var = "John"

SyntaxError: invalid syntax (<ipython-input-4-0e82719f22b4>, line 1)

# Assign Multiple Values

In [5]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

# One Value to Multiple Variables

In [6]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

# Output Variables
The Python print statement is often used to output variables.

To combine both text and a variable, Python uses the + character:

In [7]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [8]:
#Alternate way
print("Python is ", x)

Python is  awesome

In [9]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [10]:
x = 5
y = 10
print(x + y)

15

#### If you try to combine a string and a number, Python will give you an error:

In [11]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
#convert integer to string
print(str(x) + y)

# Built-in Data Types
In programming, data type is an important concept.

Variables can store data of different types, and different types can do different things.

Python has the following data types built-in by default, in these categories:

**Text Type:	str**<br>
**Numeric Types:	int, float, complex**<br>
**Sequence Types:	list, tuple, range**<br>
**Mapping Type:	dict**<br>
**Set Types:	set, frozenset**<br>
**Boolean Type:	bool**<br>
**Binary Types:	bytes, bytearray, memoryview**<br>

## Getting the Data Type
You can get the data type of any object by using the type() function:

In [ ]:
x = 5
print(type(x))

## Setting the Data Type

In [12]:
x = "Hello World"
print(x)
print(type(x))

Hello World
<class 'str'>

In [13]:
x = 20
print(x)
print(type(x))

20
<class 'int'>

In [14]:
x = 20.5
print(x)
print(type(x))

20.5
<class 'float'>

In [15]:
x = 20j
print(x)
print(type(x))

20j
<class 'complex'>

In [16]:
x = False
print(x)
print(type(x))

False
<class 'bool'>

In [17]:
x = b"Hello"
print(x)
print(type(x))

b'Hello'
<class 'bytes'>

In [18]:
x = bytearray(5)
print(x)
print(type(x))

bytearray(b'\x00\x00\x00\x00\x00')
<class 'bytearray'>

In [19]:
x = memoryview(bytes(5))
print(x)
print(type(x))

<memory at 0x00000224DA3BC7C0>
<class 'memoryview'>

### List, Tuples, Set, Frozenset, Dict, Range we would conver in coming sessions.

# Type Casting in Python

In [20]:
x = int(1)   # x will be 1, passing intger
y = int(2.8) # y will be 2, passing float
z = int("3") # z will be 3, passing string

print(x,y,z)

1 2 3

In [21]:
x = float(1)     # x will be 1.0, passing float
y = float(2.8)   # y will be 2.8, passing float
z = float("3")   # z will be 3.0, passing string with integer number
w = float("4.2") # w will be 4.2, passing string with float number

print(x,y,z,w)

1.0 2.8 3.0 4.2

In [22]:
x = str("s1") # x will be 's1', passing string
y = str(2)    # y will be '2', passing integer
z = str(3.0)  # z will be '3.0', passing float

print("x = ",x,type(x))
print("y = ",y,type(y))
print("z = ",z,type(z))

x =  s1 <class 'str'>
y =  2 <class 'str'>
z =  3.0 <class 'str'>

# Operators in Python

## 1. Addtion

In [23]:
x =5
y =6
x+y

11

## 2. Subtraction

In [24]:
x-y #x=5 and y=6

-1

In [25]:
y-x #x=5 and y=6

1

## 3. Multiplication

In [26]:
x * y #x=5 and y=6

30

## 4. Division

a. Float Operation

In [27]:
x/y #x=5 and y=6

0.8333333333333334

b. Integer operation

In [28]:
x//y #x=5 and y=6

0

## 5. Modulus

In [29]:
x%y #x=5 and y=6

5

## 6. power

In [30]:
x**y #x=5 and y=6

15625

# Logical Operators

In [31]:
#Creating variables and assigned values
x = 5
y = 6
a = 1
b = 1

## 1. Equal to

In [32]:
x==y #x=5, y=6, a=1, b =1

False

In [33]:
a==b #x=5, y=6, a=1, b =1

True

## 2. Not Equal to

In [34]:
x!=y #x=5, y=6, a=1, b =1

True

In [35]:
a!=b #x=5, y=6, a=1, b =1

False

## 3. Greater than and Less than

In [36]:
x>y #x=5, y=6, a=1, b =1

False

In [37]:
x<y #x=5, y=6, a=1, b =1

True

In [38]:
a>b #x=5, y=6, a=1, b =1

False

In [39]:
a<b #x=5, y=6, a=1, b =1

False

## 4. Greater than Equal to and Less than Equal to

In [40]:
x>=y #x=5, y=6, a=1, b =1

False

In [41]:
x<=y #x=5, y=6, a=1, b =1

True

In [42]:
a>=b #x=5, y=6, a=1, b =1

True

In [43]:
a<=b #x=5, y=6, a=1, b =1

True

# Comprehend Operator

In [44]:
x = x +1 #x=5, y=6, a=1, b =1
x

6

In [45]:
x +=1 #x=7, y=6, a=1, b =1
x

7

In [46]:
y = y - 1 #x=7, y=6, a=1, b =1
y

5

In [47]:
y -=1 #x=7, y=5, a=1, b =1
y

4